ul{
float: right;
list-style-type: none;
margin-top: 10px;
}

ul li{
display: inline-block;
}

ul li a{
text-decoration: none;
color: white;
padding: 30px 50 px;
border: 1px solid transparent;
transition: 0.6s ease;
font-size: 20px;
}

ul li a:hover{
background-color: white;
color: black;
}

ul li.active a{
background-color: white;
color: black;
}

body{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../uk.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 80%;
border: 20px solid #fff;
font-family: source sans Pro, sans-serif;
padding: 20px;
margin: 20px auto;
max-width: 700px;
font-family: 'Oswald', sans-serif;
}

.blog{
margin-bottom: 20px;
}
.date{
color: #fff;
letter-spacing: 0.2rem;
text-transform: uppercase;
font-weight: 700;
}

.paragraph{
border-left: 5px solid #5d5173;
padding-left: 5px;
}

h2{
font-size: 2.0rem;
color: #fff;
}

h1{
font-size: 2.0rem;
color: #fff;
}

hr{
border: 0;
height: 0;
border-top: 1px solid #fff;
border-bottom: 1px solid #fff;
}

p{
color: #fff;
font-weight: 600;
}


